<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>%title%</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<meta name="description" content="%description%">
	<meta name="keywords" content="%keywords%">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<h3>Евгений Кучерявый</h3>
			<nav class="nav">
				<a href="/">Главная</a>
				<a href="/articles">Статьи</a>
			</nav>
		</header>
		<main class="main">
			%CONTENT%
		</main>
		<footer class="footer">
			<div>
				<a href="https://t.me/frontend_director" target="_blank">tg: @frontend_director</a>
				<a href="https://boosty.to/kucheriavyi" target="_blank">Поддержать на Boosty</a>
				<a href="https://patreon.com/kucheriavyi" target="_blank">Поддержать на Patreon</a>
			</div>
			<div>© 2025, Евгений Кучерявый</div>
		</footer>
	</div>
</body>
</html>
